.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: var(--neutral-800);
  background-color: var(--neutral-50);
  padding: 16px 24px;
  border-radius: 8px;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.description {
  font-size: 1.4rem;
}

.info_container {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin-top: 16px;
}

.access_type {
  font-size: 1.2rem;
  padding: 4px 8px;
  border-radius: 6px;
  font-weight: 600;
  background-color: var(--violet-100);
  color: var(--violet-700);
}

.status {
  font-size: 1.2rem;
  padding: 4px 8px;
  border-radius: 6px;
  font-weight: 600;

  &.active {
    background-color: var(--emerald-100);
    color: var(--emerald-700);
  }

  &.in_course {
    background-color: var(--yellow-100);
    color: var(--yellow-700);
  }

  &.finished {
    background-color: var(--sky-100);
    color: var(--sky-700);
  }

  &.hidden {
    background-color: var(--neutral-100);
    color: var(--neutral-700);
  }
}

.enrolled {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--amber-700);
}
