.title {
  font-family: var(--font-metamorphous);
  text-wrap: pretty;
  max-width: 320px;
  text-align: center;
  font-weight: 700;
  font-size: 3.2rem;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 48px 24px;
  max-width: 300px;
  margin: 0 auto;
}

.description {
  font-family: var(--font-lora);
  font-size: 1.4rem;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form_container {
  max-width: 300px;
}
