.navbar {
  width: 100%;
  max-width: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  min-height: 70px;
}

.navbar__list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}

.navbar__item {
  width: 100%;
  height: 100%;
  padding: 12px 8px;
  min-width: 112px;
  border-radius: 8px;
  user-select: none;
  background-color: var(--neutral-50);

  &.active {
    background-color: var(--violet-100);
    .navbar__link {
      color: var(--violet-700);
    }
  }

  &:active {
    background-color: var(--violet-200);
  }
}

.navbar__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--violet-700);
  font-weight: 600;
}
