.main_container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "navbar";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  height: 100dvh;
}

.main {
  grid-area: main;
  max-height: 100%;
  overflow: hidden;
}
